{% extends "layout.html" %}
{% block content %}
<body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{g.user.username}}'s Profile
          </h1>
          <h2 class="subtitle">
            You are user number #{{g.user.id}}
          </h2>
        </div>
      </div>
    </section>
</body>
    <div class="site-header-logo">
        <h1 class="text-center">
            Plant Monitoring
        </h1>
    </div>
    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" >
            <div class="card-body">
                <div id="chart1"></div>
                <p class="card-text">
                    Machine age DATA

                </p>
            </div>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="card m-auto" style="width: 90%;" >
        <div class="card-body">
            <div id="chart2"></div>
            <p class="card-text">
                Failure DATA

            </p>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="card m-auto" style="width: 90%;" >
        <div class="card-body">
            <div id="chart3"></div>
            <p class="card-text">
                VOLTAGE DATA

            </p>
        </div>
    </div>
</div>
        
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graphs3,{});

    </script>
{% endblock %}